* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.quiz-app {
  margin: 20px auto 0;
  width: 70%;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app .categorys {
  background-color: white;
  margin-bottom: 7px;
  padding: 10px;
}
.quiz-app .categorys div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 7px;
  text-wrap: nowrap;
}
.quiz-app .categorys button {
  outline: none;
  border: none;
  background-color: #05a0c7;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 134px;
}
.quiz-app .categorys button:active {
  transform: scale(0.97);
}
.quiz-app .quiz-info {
  display: flex;
  background-color: #fff;
  padding: 20px;
}
.quiz-app .quiz-info .category {
  flex: 1;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  display: none;
}
.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px;
  display: none;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
  display: inline-block;
  width: 91%;
}
.quiz-app .submit {
  display: none;
}
.quiz-app .submit-button {
  background-color: #0075ff;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px auto 10px;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: none;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #01982c;
}
.quiz-app .results span.great {
  color: #0390db;
}
.quiz-app .results span.perfect {
  color: #0075ff;
}
.chose-answer {
  background-color: #dc0a0a;
  color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 600;
}
.corrected-answers h1 {
  color: white;
  text-align: center;
  display: none;
  padding: 5px;
  background-color: #777;
}
.corrected-div {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.corrected-q {
  margin: 5px;
  /* color: #dc0a0a; */
}
.corrected-a {
  color: #01982c;
  margin: 5px;
}
body > p {
  background-color: #f8f8f8;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 800px) {
  .quiz-app {
    width: 100%;
  }
  .quiz-app .bullets .spans span {
    width: 14px;
    height: 14px; 
  }
  body > p {
    width: 100%;
  }
}
